* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    /* background-color: rgb(255, 162, 255); */
}

.header {
    text-align: center;
    color: white;
    background-color: rgb(57, 57, 255);
    padding: 2rem 0rem;
}

.content {
    /* background-color: salmon; */
    margin: 2rem 10%;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.content p {
    line-height: 1.5rem;
    margin-bottom: 1rem
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* ------------------------------------------------------------------ */
/* Section */
.section {
    background-color: rgb(199, 199, 199);
    border: gray 1px solid;
    padding: 1rem;
}

.section ul, ol {
    margin-left: 1rem;
}

.section li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.section h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.section a {
    text-decoration: none;
    transition: 0.5s;
}

.section a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------------ */
/* Accordion */
.accordion {
    font-family: Arial;
    margin-bottom: 1rem;
}

.accordion-header {
    color: white;
    background-color: rgb(63, 63, 63);
    padding: 0.5rem;
    cursor: pointer;
}

.accordion-header:hover {
    background-color: rgb(52, 52, 52);
}

.accordion-panel {
    background-color: white;
    padding: 2rem 2rem 5rem 2rem;
}

.space {
    height: 4rem;
}

.accordion-panel code {
    font-weight: 900;
    font-size: 1rem;
}

.accordion-panel .inline-code {
    background-color: lavender;
}

.accordion-panel pre {
    background-color: lavender;
    padding: 0;
    border: solid gray 1px;
}

.accordion-panel p {
    padding: 0;
    margin: 0;
}

.accordion-panel table {
    border-collapse: collapse;
}

.accordion-panel th {
    color: white;
    background-color: rgb(63, 63, 63);
    text-align: left;
}

.accordion-panel th, td {
    border: 1px solid rgb(68, 68, 68);
    padding: 0.5rem;
    min-width: 10rem;
}

.accordion-panel tr:nth-child(even) {
    background-color: rgb(199, 199, 199);
}

.accordion-panel img {
    max-width: 50%;
}

em {
    font-style: normal;
    font-weight: 900;
}

.todo {
    font-weight: 900;
    color: red;
}