* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}

.content {
  font-family: Arial;
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

