* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
    perspective: 100px;
}

.scrolling {
  text-align: center;
  width: 30rem;
  margin-top: -4rem;
  margin: auto;
  border-style: none;
  border-color: white;
  color: white;
  font-size: 2rem;
  transform: rotateX(10deg);
  padding-top: 0rem;
  animation-name: scroll;
  animation-duration: 15s;
  animation-direction: forward;
}

@keyframes scroll {
  0% {padding-top: 20rem;}
  100% {padding-top: 0rem;}

}
