* {
  margin:0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.red {
  width: 10rem;
  height: 10rem;
  background-color: red;
}

.black {
  width: 10rem;
  height: 10rem;
  background-color: black;
}

.board {
  display: inline-grid; 
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px; 
}