* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 20rem;
  background-color: #9d8c82;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px gray;

  & img {
      width: 100%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      transition: 1s;
  }

  &:hover {
      & img {
          opacity: 75%;
      }

      & button {
          opacity: 100%;
      }
  }
}

.toolbar {
  display: flex;
  padding: 1rem;
  justify-content: right;

  & button {
    color: white;
    background-color: #f0d84c;
    padding: 0.5rem 3rem;
    font-size: 1.0rem;
    border-style: none;
    border-radius: 1rem;
    opacity: 0.0;
    transition: 0.5s;

    &:hover {
      background-color: #faa200;;
    }

    &:active {
      background-color: black;
        }
  }
}
 



